<div class="component">
    <% if (count == -1) { count = site.data.data.projects.length } %>
    <% to = 0 %>
    <% for(var i=0; i < site.data.data.projects.length; i++) { %>
    <% project = site.data.data.projects[i]; %>
    <% if (to < count) { %>
    <a href="<%- project.link %>">
        <span class="title">
            <%- project.name %>
        </span>
        <span class="description"><%- project.description %></span>
        <div>
            <% if (project.date) { %>
            <time class="info">
                <%= project.date %>
            </time>
            <% } %>
            <% for(var j=0; j < project.tags.length; j++) { %>
            <span class="tag">
                <%- project.tags[j] %></span>
            <% } %>
        </div>
    </a>
    <% to++ %>
    <% } %>
    <% } %>
    
</div>